<div class="changeFTP-page">
  <div class="head-line"></div>
  <div class="header text-center">{{ 'CHANGE_FTP' | translate }}</div>
  <div class="sub-header text-center">{{ 'PLEASE_CHANGE_FTP' | translate }}</div>
  <form [formGroup]="FTPForm" (ngSubmit)="onSubmit()">
    <div class="group" [ngClass]="{'error-message': !FTPForm.get('currentPassword').valid && FTPForm.get('currentPassword').touched}">
      <input required
             class="opt-password"
             type="password"
             #currentPassword
             id="currentPassword"
             formControlName="currentPassword"
      >
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>{{ 'CURRENT_PASSWORD' | translate }}</label>
    </div>
    <div class="group" [ngClass]="{'error-message': !FTPForm.get('newPassword').valid && FTPForm.get('newPassword').touched}">
      <input type="password"
             required
             class="opt-password"
             #newPassword
             id="newPassword"
             formControlName="newPassword"
      >
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>{{ 'NEW_PASSWORD' | translate }}</label>
    </div>
    <div class="group" [ngClass]="{'error-message': !FTPForm.get('repNewPassword').valid && FTPForm.get('repNewPassword').touched}">
      <input required
             class="opt-password"
             type="password"
             #repNewPassword
             id="repNewPassword"
             formControlName="repNewPassword"
      >
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>{{ 'CONFIRM_NEW_PASSWORD' | translate }}</label>
    </div>
    <div class="comment text-center">
      {{ 'NOTE_PASSWORD' | translate }}
    </div>
    <button [ngClass]="{'active': FTPForm.valid}" class="login-submit" type="submit">{{ 'NEXT' | translate }}</button>
  </form>
  <div class="wrong-pass" *ngIf="errorPassword">
    <button class="wrong-pass-close" (click)="onCloseModal()"><span></span><span></span></button>
    <div class="wrong-pass-text">pass.mismatch.msg</div>
  </div>

  <app-modal
          *ngIf="errorPassword || data.hasOwnProperty('popupMsg')"
          [modalText]='data.popupMsg'
          [errorStatus]="data.popupFailure"
          [hiddenTime]='hiddenTime'
  ></app-modal>
</div>

