@import '../../shared/material-input.scss';
@import '../../../styles.scss';

.changeFTP-page {
  background-color: $type1-color-white;
  border-radius: 22px 22px 22px 22px;
  padding: 10px 15px 22px;
  .head-line{
    margin-bottom: 22px;
  }
  .header{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .sub-header{
    color: $type1-color-black;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  .group{
    margin: 0 auto 15px;
    max-width:400px;
    width: 100%;
  }
  .comment{
    color: $type1-color-black;
    line-height: 18px;
    font-size: 14px;
    margin-top: 24px;
  }
  .login-submit{
    margin-top: 134px;
    background-color: $type1-color-changeFTP;
    &.active{
      background-color: $type1-color-green;
    }
  }
  .error-message{
    label{
      color: $type1-color-error;
    }
    .bar:before, .bar:after{
      background: $type1-color-error;
    }
  }
}


.wrong-pass{
  position: fixed;
  width: 250px;
  height: 250px;
  background-color: $type1-color-white;
  border: 1px solid $type1-color-green;
  border-radius: 20px;
  box-shadow: 0 2px 5px $type1-color-green - 50%;
  opacity: 0.95;
  margin: auto;
  left: 0;
  right: 0;
  padding: 50px 20px 15px;
  box-sizing: border-box;
  top: calc(50vh - 100px);
  &-text{
    font-size: 18px;
    text-align: center;
  }
  &-close{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top:10px;
    border-radius: 50px;
    background-color: $type1-color-green;
    border: none;
    cursor: pointer;
    span{
      width: 20px;
      height: 3px;
      background-color: $type1-color-white;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top:0;
      bottom: 0;
      margin: auto;
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
      }
    }
  }
}
