<div class="opt-page"  [style.background-color]="pageColors.backgroundPage">
  <div class="close"
       (click)="onCommanForApp('CLOSE')"
       [ngStyle]="{
              'background-color': pageColors.primaryColor,
              'color': pageColors.backgroundPage
           }">{{ 'CLOSE' | translate }}</div>
  <div class="header text-center" [style.color]="pageColors.headerColor">{{ 'OPT_HEADER' | translate }}</div>
  <div class="sub-header text-center"
       *ngIf="data.phoneNumber"
       [style.color]="pageColors.subHeaderColor">{{ 'OPT_SUBHEADER' | translate }} {{data.phoneNumber}}</div>
  <div class="timer-container text-center">{{timeForEnterCode}}s/{{data.expireTime || 180}}s</div>
  <form [formGroup]="OPTForm" (ngSubmit)="onSubmit()">
    <div class="opt-password-container text-center">
      <input autofocus
             class="opt-password"
             type="tel"
             #password
             id="password"
             (keypress)="_keyPress($event)"
             formControlName="password"
             maxlength="6">
      <div class="opt-border">
        <span *ngFor="let border of [1,2,3,4,5,6]; let simbol = index"
              [ngClass]="{'active': +simbol< password.value.length}">
        </span>
      </div>
    </div>
    <div class="opt-login-container">
      <select formControlName="login" [style.border-color]="pageColors.primaryColor">
        <option *ngFor="let login of listLogins" [ngValue]="login">{{login}}</option>
      </select>
    </div>
    <button class="login-submit" [ngClass]="{disabled: blockSend}" type="submit" [ngStyle]="{
              'background-color': pageColors.primaryColor,
              'color': pageColors.backgroundPage
           }">{{ 'SEND' | translate }}</button>
  </form>
  <div class="text-center resend">
    <a (click)="onResend()" [style.color]="pageColors.textColor">{{ 'RESEND_OPT' | translate }}</a>
  </div>
  <app-modal
          *ngIf="data.hasOwnProperty('popupMsg')"
          [modalText]='data.popupMsg'
          [errorStatus]="data.popupFailure"
          [hiddenTime]='hiddenTime'
  ></app-modal>
</div>
