@import '../../../styles.scss';

.opt-page {
    border-radius: 22px 22px 22px 22px;
    padding: 20px 28px 22px;
    position: relative;
    .close{
      position: absolute;
      right: 5px;
      top: 10px;
      border-radius: 10px;
      padding: 5px 7px;
      font-size: 12px;
      cursor: pointer;
    }
    .header{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
      margin-top: 15px;
    }
    .sub-header{
      color: $type1-color-black;
      margin-bottom: 12px;
      line-height: 1.3;
      font-size: 14px;
    }
    .timer-container{
      color: $type1-color-error;
      margin-bottom: 18px;
    }
    .opt{
      &-password-container{
        margin: 0 auto 30px;
      }
      &-login-container{
        margin: 0 auto 30px;
        select{
          max-width: 400px;
          width: 100%;
          margin: 0 auto 22px;
          border-radius: 22px;
          border: 1px solid transparent;
          display: block;
          padding: 13px 20px;
          text-align: center;
          font-size: 16px;
          outline: none;
        }
      }
      &-password{
        color: $type1-color-origin-black;
        font-size: 36px;
        letter-spacing: 25.5px;
        width: 290px;
        margin-left: 38px;
        border: none;
      }
      &-border{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 255px;
        margin: 0 auto;
        span{
          width: 30px;
          height: 2px;
          background-color: $type1-color-dark-grey;
          display: inline-block;
          &.active{
            background-color: $type1-color-green;
          }
        }
      }
    }
    .resend{
      cursor: pointer;
    }
    .disabled{
      pointer-events: none;
      opacity: 0.5;
    }
}