<div class="terms-page" [style.background-color]="pageColors.backgroundPage">
  <div class="head-line"></div>
  <div class="header text-center" [style.color]="pageColors.headerColor">{{ 'TERMS_HEADER' | translate }}</div>
  <div class="terms-text"
       [style.color]="pageColors.textColor"
       [innerHTML]="'TERMS_CONTENT' | translate"></div>
  <div class="terms-checkbox">
    <label class="container" [style.background-color]="pageColors.backgroundCheckbox">
      <input type="checkbox" #checkboxValue (click)="onTerms(checkboxValue)">
      <span class="checkmark" [style.border-color]="pageColors.primaryColor"></span>
      <span class="checktext">{{ 'TERMS_CHECKBOX' | translate }}</span>
    </label>
  </div>
  <app-modal
      *ngIf="data.hasOwnProperty('popupMsg')"
      [modalText]='data.popupMsg'
      [errorStatus]="data.popupFailure"
      [hiddenTime]='hiddenTime'
  ></app-modal>
</div>
