@import '../../../styles.scss';

.terms-page {
  background-color: $type1-color-white;
  border-radius: 22px 22px 22px 22px;
  padding: 10px 15px 22px;
  .head-line{
    margin-bottom: 22px;
  }
  .header{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .disabled{
    pointer-events: none;
    opacity: 0.5;
  }
  .terms-checkbox {
    margin-top: 20px;
    .checkmark {
      position: relative;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border: 1px solid #008446;
      border-radius: 2px;
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
    .checktext{
      display: inline-block;
      width: calc(100% - 40px);
      vertical-align: top;
    }
    .container {
      display: block;
      position: relative;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      user-select: none;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
          background-color: #008446;
          &:after {
            display: block;
            left: 7px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}