<div class="wallet-page" [style.background-color]="pageColors.backgroundPage">
  <div>
    <div class="head-line" *ngIf="app === 'default'"></div>
    <img class="logo" [src]="pageIcons.logo">
    <div class="form-block">
      <div class="close" (click)="onCommanForApp('CLOSE')">{{ 'CLOSE' | translate }}</div>
      <label for="account">{{'ACCOUNT' | translate}}</label>
      <select id="account" #account_id>
        <option
          *ngFor="let account of accounts"
          [value]="account">{{account}}</option>
      </select>
    </div>
    <button (click)="onSubmit(account_id.value)">{{'LINK' | translate}}</button>
  </div>
  <app-modal
    *ngIf="data.hasOwnProperty('popupMsg')"
    [modalText]='data.popupMsg'
    [hiddenTime]='hiddenTime'
  ></app-modal>
</div>
