@import '../../../styles.scss';

.wallet{
  &-page{
    border-radius: 22px 22px 22px 22px;
    padding:10px 28px 26px;

    &> div {
      .logo{
        width: 161px;
        height: auto;
        margin: 61px auto 18px;
        display: block;
      }
      .close {
        position: absolute;
        right: 5px;
        top: 10px;
        border-radius: 10px;
        padding: 5px 7px;
        font-size: 12px;
        cursor: pointer;
        background-color: rgb(0, 132, 70);
        color: rgb(255, 255, 255);
      }
      .form-block {
        max-width: 400px;
        padding: 25px 0 0 0;
        margin: 30px auto;
        position: relative;
        label {
          font-size: 14px;
          color: #ccc;
        }
        input, select {
          outline: none;
          border-radius: 4px;
          display: block;
          width: 100%;
          font-size: 14px;
          margin-top: 10px;
          padding: 8px 5px;
          text-align: center;
          color: rgb(74, 74, 74);
          border: none;
          border-bottom: 1px solid rgb(74, 74, 74);
        }
      }
      button {
        max-width: 400px;
        width: 100%;
        border-radius: 22px;
        border: none;
        height: 45px;
        text-align: center;
        font-size: 14px;
        margin: 0 auto 15px;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        background-color: rgb(43, 186, 86);
        color: rgb(255, 255, 255);
      }

    }
  }
}
