@import 'variables.scss';
.group 			  {
  position:relative;
  margin-bottom:15px;
}
input 				{
  font-size:14px;
  padding:10px 10px 10px 0;
  display:block;
  max-width:400px;
  width: 100%;
  border:none;
  border-bottom:1px solid $type1-color-dark2-grey;
  background-color: transparent;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color: $type1-color-semi-grey;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0px;
  top:12px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top: -7px;
  font-size:11px;
  color:$type1-color-green;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; max-width:400px; width: 100% }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:0px;
  position:absolute;
  background:$type1-color-green;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100%;
  max-width: 100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:$type1-color-green; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:$type1-color-green; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:$type1-color-green; }
  to 	{ width:0; background:transparent; }
}