$type1-color-green: #2bba56;
$type1-color-header: linear-gradient(to right, #2bba56, #4EA3F6);
$type1-color-grey: #d1d1d1;
$type1-color-light-grey: rgb(248,252,245);
$type1-color-dark-grey: rgb(155,155,155);
$type1-color-dark2-grey: rgb(151,151,151);
$type1-color-semi-grey: rgb(145,145,145);
$type1-color-link: #4EA3F6;
$type1-color-black: #4A4A4A;
$type1-color-changeFTP: #95ddab;
$type1-color-origin-black: #000000;
$type1-color-white: #ffffff;
$type1-color-error: #FA3939;

$type2-color-green: #008446;


$app-max-width: 767px;
$app-min-width: 320px;

$font-type1: 'OpenSans';
$font-type2: 'Roboto';