<div class="modal" [ngClass]="{hidden: isHiddenModal}" [ngStyle]="{
              'background-color': componentColors.backgroundPage,
              'border-color': componentColors.primaryColor
           }">
  <img class="modal-warning" src="/assets/images/warning.svg" *ngIf="errorStatus" alt="">
  <div class="modal-text"  [ngStyle]="{'color': componentColors.textColor}">
    {{modalText | translate}}
  </div>
  <button class="login-submit modal-close"
          (click)="onCloseModal()"
          [ngStyle]="{
              'background-color': componentColors.primaryColor,
              'color': componentColors.backgroundPage
           }"
  >
    {{'CLOSE' | translate}}
  </button>
</div>
