@import '../../../styles.scss';
.modal{
  position: fixed;
  width: 250px;
  height: 250px;
  background-color: $type1-color-white;
  border: 1px solid $type1-color-green;
  border-radius: 20px;
  box-shadow: 0 2px 5px $type1-color-green - 50%;
  opacity: 0.95;
  margin: auto;
  left: 0;
  right: 0;
  padding: 20px 20px 60px;
  animation: SHOW;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function:  linear;
  box-sizing: border-box;
  &-text{
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
  }
  &-warning{
    width: 40px;
    height: 40px;
    margin: 10px auto;
    display: block;
  }
  &-close{
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
  }
  &.hidden{
    animation: HIDDEN;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function:  linear;
  }
}
@keyframes SHOW {
  from {
    top: 50vh;
    opacity: 0;
  }
  to {
    top: calc(50vh - 100px);
    opacity: 0.95;
  }
}
@keyframes HIDDEN {
   0%{
    top: calc(50vh - 100px);
    opacity: 0.95;
  }
  99%{
    top: 50vh;
    opacity: 0;
  }
  100%{
    z-index: -1;
  }

}