@import '../../../styles.scss';

.opt-page {
    border-radius: 22px 22px 22px 22px;
    padding: 20px 28px 22px;
    .header{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .sub-header{
      color: $type1-color-black;
      margin-bottom: 12px;
      line-height: 1.3;
      font-size: 14px;
    }
    .timer-container{
      color: $type1-color-error;
      margin-bottom: 18px;
    }
    .opt{
      &-password-container{
        margin: 0 auto 30px;
      }
      &-password{
        color: $type1-color-origin-black;
        font-size: 36px;
        letter-spacing: 25.5px;
        width: 290px;
        margin-left: 38px;
        border: none;
      }
      &-border{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 255px;
        margin: 0 auto;
        span{
          width: 30px;
          height: 2px;
          background-color: $type1-color-dark-grey;
          display: inline-block;
          &.active{
            background-color: $type1-color-green;
          }
        }
      }
    }
    .resend{
      cursor: pointer;
      color: $type1-color-dark-grey;
    }
}