<div class="login-page" [style.background-color]="pageColors.backgroundPage">
  <div class="head-line"></div>
  <img class="logo" [src]="pageIcons.logo">
  <div class="login-number">{{authForm.get('login').value}}</div>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

    <input class="login-input user-input"
           *ngIf="loginElements.loginField"
           autofocus
           [ngStyle]="{
              'background-image': 'url(' + pageIcons.loginIcon + ')',
              'color': pageColors.inputTextColor,
              'border-color': pageColors.primaryColor
           }"
           [ngClass]="{'error': !authForm.get('login').valid && authForm.get('login').touched}"
           type="login"
           id="login"
           formControlName="login"
           [placeholder]="'ENTER_LOGIN' | translate">
    <span class="error-message" *ngIf="!authForm.get('login').valid && authForm.get('login').touched">
      {{ 'INCORRECT_LOGIN' | translate }}
    </span>

    <input class="login-input password-input"
           [ngStyle]="{
              'background-image': 'url(' + pageIcons.loginIcon + ')',
              'color': pageColors.inputTextColor,
              'border-color': pageColors.primaryColor
           }"
           [ngClass]="{'error': !authForm.get('password').valid && authForm.get('password').touched}"
           type="password"
           id="password"
           formControlName="password"
           [placeholder]="'ENTER_PASSWORD' | translate">
    <span class="error-message" *ngIf="!authForm.get('password').valid && authForm.get('password').touched">
      {{ 'INCORRECT_PASSWORD' | translate }}
    </span>

    <button class="login-submit" type="submit"  [ngStyle]="{
              'background-color': pageColors.primaryColor,
              'color': pageColors.backgroundPage
           }">{{ 'LOG_IN' | translate }}</button>
  </form>
  <div *ngIf="loginElements.anotherLogin"
       class="text-center different-link">
    <a (click)="onCommanForApp('CANCEL')"
       [style.color]="pageColors.linkColor"
       class="link">{{ 'LOG_DIFFERENT_ACCOUNT' | translate }}</a>
  </div>
  <img *ngIf="loginElements.fingerprint" class="fingerprint" src="assets/images/fingerprint.png">
  <div *ngIf="loginElements.forgot" class="text-center forgot-password">
    <a (click)="onCommanForApp('FORGOT')"
       [style.color]="pageColors.linkColor"
       class="link">{{ 'FORGOT_PASSWORD' | translate }}</a>
  </div>
  <div class="text-center not-account">
    <span class="text" [style.color]="pageColors.textColor">{{ 'DONT_HAVE_ACCOUNT' | translate }}</span>
    <a (click)="onCommanForApp('REGISTER')"
       [style.color]="pageColors.linkColor"
       class="link">{{ 'SIGN_UP_NOW' | translate }}</a>
  </div>
  <app-modal
          *ngIf="data.hasOwnProperty('authFailure') && data.authFailure"
          [modalText]='data.authFailureMsg'
          [hiddenTime]='hiddenTime'
  ></app-modal>
</div>