@import '../../../styles.scss';

.login{
  &-page{
    border-radius: 22px 22px 22px 22px;
    padding:10px 28px 26px;
    .logo{
      width: 161px;
      height: auto;
      margin: 61px auto 18px;
      display: block;
    }
    .link{
      font-size: 14px;
      cursor: pointer;
    }
    .error-message{
      color: $type1-color-error;
      font-size: 14px;
      text-align: center;
      display: block;
      margin-bottom: 14px;
    }
    .fingerprint{
      width: 53px;
      height: 58px;
      display: block;
      margin: 0 auto 21px;
    }
    .different-link{
      margin-bottom: 32px;
    }
    .forgot-password{
      margin-bottom: 26px;
    }
    .not-account{
      font-size: 14px;
      .text{

      }
    }
  }
  &-number{
    color: $type1-color-black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 17px;
  }
  &-input{
    max-width: 400px;
    width: 100%;
    margin: 0 auto 22px;
    border-radius: 22px;
    border: 1px solid transparent;
    display: block;
    font-size: 14px;
    padding: 13px 60px;
    text-align: center;
    &.error{
      margin-bottom: 8px;
    }
    &.user-input{
      background:{
        size: 17px 17px;
        repeat: no-repeat;
        position: 16px center ;
      }
    }
    &.password-input{
      background:{
        size: 13px 16px;
        repeat: no-repeat;
        position: 18px center ;
      }
    }
  }
}
