<div>
    <!--<div class="basic-links">-->
        <!--<li>  <a routerLink="/login.do">Login authentification</a></li>-->
        <!--<li>  <a routerLink="/loginotp.do">One time password - first login from new device</a></li>-->
        <!--<li>  <a routerLink="/firsttimepass.do">Change first time password</a></li>-->
        <!--<li>  <a routerLink="/setupchallenge.do">Secret questions setup</a></li>-->
        <!--<li>  <a routerLink="/otp.do">One time password</a></li>-->
        <!--<li>  <a routerLink="/otp-ewallet.do">One time password Login</a></li>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="custom-links">-->
        <!--<li><a routerLink="/login.do" [queryParams]='loginParams'>Login authentification Params</a></li>-->
        <!--<li><a routerLink="/otp.do" [queryParams]='OPTParams'>One time password Params</a></li>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<button (click)="selectLanguage('VN', 'testApp')">Вьетнамский</button>-->
    <!--<button (click)="selectLanguage('ENG','testApp')">English</button>-->
    <!--<button (click)="selectLanguage('RUS','testApp')">Русский</button>-->
    <div class="app-wrapper" [style.background]="background">
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



