@import '../styles.scss';
.app-wrapper{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 22px;
    min-height: 100vh;
}
.main-container{
    margin: 0 auto;
    min-width: $app-min-width;
    max-width: $app-max-width;
}
