<div class="questions-page">
  <div class="head-line"></div>
  <div class="header text-center">{{ 'SECURITY_QUESTIONS' | translate }}</div>
  <div class="sub-header text-center">{{ 'SECURITY_QUESTIONS_SUB_HEADER' | translate }}</div>
  <div class="wrapper-questions">
    <div class="questions" *ngFor="let question of questions; let number = index">
      <div class="question-container">
        <div class="question-header" (click)="onSelectQuestion(number)">
          <div class="number">{{number+1}}</div>
          <div class="question">{{ question | translate }}</div>
        </div>
        <div [ngClass]="{active: selectQuestion === number}" class="answer-container">
          <textarea class="answer" [placeholder]="'ENTER_ANSWER' | translate" [(ngModel)]="answer"></textarea>
        </div>
      </div>
    </div>
  </div>
  <button class="login-submit" type="button" (click)="onSendQuestion()">{{ 'NEXT' | translate }}</button>
  <app-modal
          *ngIf="data.hasOwnProperty('popupMsg')"
          [modalText]='data.popupMsg'
          [errorStatus]="data.popupFailure"
          [hiddenTime]='hiddenTime'
  ></app-modal>
</div>