@import '../../../styles.scss';

.questions-page {
  background-color: $type1-color-white;
  border-radius: 22px 22px 22px 22px;
  padding: 10px 20px 20px 15px;
  .head-line{
    margin-bottom: 22px;
  }
  .header{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .sub-header{
    color: $type1-color-black;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 14px;
  }
  .wrapper-questions{
    margin-bottom: 118px;
  }
  .questions{
    text-align: center;
    .question-container{
      text-align: left;
      max-width: 400px;
      width: 100%;
      margin: 0 auto 12px;
    }
    .question-header{
      margin-bottom: 10px;
    }
    .number{
      width: 23px;
      height: 23px;
      border: 2px solid $type1-color-green;
      border-radius: 50%;
      color: $type1-color-green;;
      line-height: 23px;
      font-size: 16px;
      text-align: center;
      font-weight: 500;
      background-color: $type1-color-light-grey;
      display: inline-block;
      margin-right: 5px;
    }
    .question{
      color: $type1-color-origin-black;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      cursor: pointer;
      width: calc(100% - 38px);
    }
    .answer-container{
      height: 0;
      transition: height 0.4s ease-out;
      overflow: hidden;
      &.active{
        height: 90px;
      }
    }
    .answer{
      resize: none;
      width: calc(100% - 37px);
      height: 100%;
      border-radius: 10px;
      padding: 10px 13px;
      font-size: 14px;
      color: $type1-color-dark-grey;
      background-color: $type1-color-light-grey;
      margin-left: 37px;
    }
  }
}