/* You can add global styles to this file, and also import other style files */
@import "app/shared/reset.scss";
@import "app/shared/variables.scss";

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Regular.eot');
  src: url('/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans.woff') format('woff'),
  url('/assets/fonts/OpenSans.ttf') format('truetype'),
  url('/assets/fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans-Semibold.eot');
  src: url('/assets/fonts/OpenSans-Semibold.woff2') format('woff2'),
  url('/assets/fonts/OpenSans-Semibold.woff') format('woff'),
  url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype'),
  url('/assets/fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'),
  url('/assets/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}


body{
  font-family: $font-type1;
}

.head-line{
  background-color: $type1-color-grey;
  width: 90px;
  height: 3px;
  border-radius: 3px;
  margin: 0 auto;
}
input.error{
  border: 1px solid $type1-color-error;
}
.text-center{
  text-align: center;
}
.login-submit{
  max-width: 400px;
  width: 100%;
  background-color: $type1-color-green;
  border-radius: 22px;
  border: none;
  height: 45px;
  color: $type1-color-white;
  text-align: center;
  font-size: 14px;
  margin: 0 auto 15px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
}



